/* navBar stuff normally */

body {
	background-color:#b7f461;		
}

ul.navBar{
	list-style-type: none;
    margin: 0;
    padding: 0;
	border: 0;
    overflow: hidden;
    background-color: #3d7f1e;
	width: 100%;
}
ul.navBar li {
	float: left;
	width: 20%;
}
ul.navBar li a {
    display: inline-block;
    color: #f2f2f2;
	text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    transition: 0.7s;
    font-size: 24px;
}
ul.navBar li img{
	display: inline-block;
	text-align: center;
	padding: 0px 25px;
}
ul.navBar li a:hover {
	background-color: #7ec65d;
}
ul.navBar li.icon {
	display: none;
}


/* the ToDoodle logo normally*/
#ToDoodleLogo {
	width:161px;
	height:65px;
	float:left;
	background-color:transparent;
}


/* advantage list stuff normally */
img.imgAdvantageList{
	width: 150px;
	height: 120px;
}
ul.advantageList{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	width: 100%;
}
ul.advantageList li{
	float: left;
	width: 30%;
	text-align: center;
}

/* the signup input bars and buttons*/
.inputBar:active {
	background-color: #d6d7d8;
}
.logInButton {
	background-color: #3d7f1e;
	border-color: #3d7f1e;
}
.signUp {
	margin-left: 50px;
}

/* the main header normally*/
h1.mainHeader{
	width: 100%;
	text-align: center;
	font-size:46px;
}



footer{
	padding-top:50px;
}


.active {
    background-color: #4CAF50;
    color: white;
}



@media screen and (max-width:800px){
	/* navBar stuff in small window */
	ul.navBar li:not(:first-child){
		display:none;
	}
	ul.navBar li.icon{
		float:right;
		display: inline-block;
	}
	ul.navBar.responsive #ToDoodleLogo{
		display: none;
	}
	ul.navBar.responsive {
		position: relative;
	}
	ul.navBar.responsive li.icon{
		position: absolute;
		right:0;
		top:0;
	}
	ul.navBar.responsive li{
		float:none;
		display:inline;
	}
	ul.navBar.responsive li a{
		display: block;
		text-align: left;
	}
	ul.navBar.responsive li img{
		display: block;
		text-align: left;
	}
	
	h1.mainHeader{
		font-size:0px;
	}
	h1.mainHeader:before{
		font-size: 36px;
		content:"A new way of making To Do lists!";
	}
}






